.draggable {  
  width: 3.5em; 
  height: 3.5em; 
  min-width: 3.5em;
  min-height: 3.5em;
  padding: 0.5em; 
  border: 1px solid #ccc; 
  /*border-radius: 0 1em 1em 1em; */
  background-color: rgba(255,255,255,0.5); 
}
.ui-widget-content p { 
  margin: 0; 
}
body { 
  margin: 0; 
}
table { 
  border-spacing: 0;
  table-layout: fixed;
  width: 1000px; 
}
td{ 
  width: 4.5em; height: 4.5em; 
}
.active{ 
  border:1px solid blue;
  font-weight:bold;
  color:yellow;
  background-color:lightblue 
}
.ui-resizable-handle {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
}
.custom-draggable-handle{
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;    
}
.handle-select{
  width: 10px;
  height: 10px;
  background-color: red;
  border: 1px solid black;    
}
.handle-select-on{
  background-color: green;
}
[contenteditable]{
  min-width: 3.5em;
  min-height: 3em;
}